<ul class="nav navbar-nav navbar-right">
  <% if @cart.has_items %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span>
      <%= @cart.total %> - Items
      <span class="caret"></span></a>

        <ul class="dropdown-menu dropdown-cart item-cart" role="menu">
          <% @cart.items.each do |item| %>
              <li>
                <div class="item">
                  <div class="item-left">
                    <img src="http://lorempixel.com/50/50/" />
                    <div class="item-info">
                      <div class="name"><%= link_to truncate_title(item.name), item_path(item) %></div>
                      <div class="price"><%=@cart.quantity(item) %><small>x</small><%=item.price %>$</div>
                    </div>
                  </div>
                  <div class="item-right">
                    <%= link_to ("<button class=\"btn btn-xs btn-danger pull-right\">x</button>").html_safe, cart_remove_path(item.positions.first.id),method: :delete %>
                  </div>
                </div>
              </li>
          <% end %>
          <li class="divider"></li>
          <li><a class="text-center" href="">View Cart</a></li>
        </ul>

  </li>
        <% else %>
    <li><a href="#" class="dropdown-toggle" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span>
      No items</a></li>
    <% end %>



</ul>