<h1>Edit item</h1>

<%= form_for @item do |f| %>
    <%= render 'shared/error_messages', :model => @item   %>
      <%= f.label :price %>
      <%= f.text_field :price %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :description %>
      <%= f.text_field :description %>
      <%= f.label :weight %>
      <%= f.text_field :weight %>
    <% if @item.attachment_url :small %>
        <%= image_tag @item.attachment_url :small %>
    <% end %>
    <p>
      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
    </p>
      <%= f.submit "Обновить товар" %>
<% end %>