<p>Сведения о товаре</p>
<h1><%=@item.name%></h1>

<ul>
  <li><%= @item.price %>руб.</li>
  <li><%= @item.description %></li>
  <li>Вес: <%= @item.weight %> кг.</li>
  <li><%= image_tag @item.attachment_url :small if @item.attachment_url :small %></li>
</ul>

<%= link_to 'Добавить в корзину', cart_add_path(@item) %>
<%= link_to 'Редактировать', edit_item_path(@item) %>
<a><%= link_to 'Назад', items_path %></a>